body{
  /* background-image: url('./images/bg.jpg'); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; 
  height: 700px;
  background-image: -moz-linear-gradient(rgb(241, 233, 233))
  
 
};

